@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

:root {
  --primaryColor: #fff;
  --navColor1: #21292c;
  --navColor2: #e27d60;
  --navColor3: #41b3a3;
  --navColor4: #e8a87c;
  --navColor5: #c38d9e;
  --html: #e34c26;
  --css: #0077c3;
  --js: #f0db4f;
  --react: #61dbfb;
  --node: #68a063;
  --medium: black;
  --linkedIn: #0077b5;
  --github: black;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  background: #000;
  font-family: 'Playfair Display', serif;
  overflow-x: hidden;
}

/* --- Navigation Menu ------------------------------ */

/* Overlay */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

/* Nav menu items */

nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav ul a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
}

nav ul a:hover {
  transform: scale(1.2);
}

nav ul a:before {
  content: '';
  width: 25vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav ul a:hover::before {
  opacity: 1;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}

nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}

nav li:nth-of-type(3) {
  background-color: var(--navColor3);
}

nav li:nth-of-type(4) {
  background-color: var(--navColor4);
}

nav li:nth-of-type(5) {
  background-color: var(--navColor5);
}

/* Slide in animation with delay */

.slide-in-1 {
  animation: slide-in 0.4s linear 0.2s both;
}

.slide-in-2 {
  animation: slide-in 0.4s linear 0.4s both;
}

.slide-in-3 {
  animation: slide-in 0.4s linear 0.6s both;
}

.slide-in-4 {
  animation: slide-in 0.4s linear 0.8s both;
}

.slide-in-5 {
  animation: slide-in 0.4s linear 1s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

/* Slide in animation with delay */

.slide-out-1 {
  animation: slide-out 0.3s linear 0.5s both;
}

.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}

.slide-out-3 {
  animation: slide-out 0.3s linear 0.3s both;
}

.slide-out-4 {
  animation: slide-out 0.3s linear 0.2s both;
}

.slide-out-5 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* --- Menu Bars ------------------------------------ */

.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- Sections ------------------------------------ */

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.typewritten1 {
  border-right: solid 3px black;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 23px;
  color: antiquewhite;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.typewritten2 {
  border-right: solid 3px black;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Source Code Pro', monospace;
  font-size: 23px;
  color: antiquewhite;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  align-self: flex-end;
}

/* Animation */
.typewritten1 {
  animation: animated-text 7s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

.typewritten2 {
  animation: animated-text 7s steps(29, end) 8s 1 normal both,
    animated-cursor 600ms steps(29, end) 7s;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 1000px;
  }
}

/* cursor animations */

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

section {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primaryColor);
}

section#home {
  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvZGluZ3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=60');
  background-size: cover;
  background-position: center center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

section#home a {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section#about {
  background-color: var(--navColor2);
}

#about-title {
  text-align: center;
}

#about-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#about-text {
  font-family: 'Open Sans', 'Helvetica Neue';
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  align-self: center;
  color: whitesmoke;
}

#about-container {
  display: flex;
  justify-content: space-around;
}

.about-container-item {
  transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  justify-content: center;
}

section#skills {
  background-color: var(--navColor3);
}

.skills-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#skill-title {
  font-size: xxx-large;
  letter-spacing: 3px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 50%;
  width: 50%;
}

.tech > * {
  flex: 0 0 33.3333%;
}

section#projects {
  background-color: var(--navColor4);
}

section#contact {
  background-color: var(--navColor5);
}
/* contact section */
#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-text {
  margin-bottom: 100px;
  font-family: 'Playfair Display', serif;
}
/* Font awesome contact icons */
.social-icons {
  display: flex;
  justify-content: space-around;
  width: 60%;
}
.fab {
  font-size: 120px;
  margin-right: 0px;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  margin: 0;
  height: min-content;
}

.fab:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
}

.fa-html5:hover {
  color: var(--html);
}
.fa-css3-alt:hover {
  color: var(--css);
}
.fa-js-square:hover {
  color: var(--js);
}
.fa-react:hover {
  color: var(--react);
}
.fa-node:hover {
  color: var(--node);
}
.fa-github:hover {
  color: var(--github);
}
.fa-linkedin-in:hover {
  color: var(--linkedIn);
}
.fa-medium:hover {
  color: var(--medium);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .typewritten {
    font-size: 16px;
  }
  section#about {
    flex-direction: column;
  }
}
/* Media Query: Large Smartphone (Vertical) */
@media (max-width: 600px) {
  section#home a {
    top: 1rem;
    left: 1rem;
  }

  .menu-bars {
    top: 0.5rem;
    right: 2rem;
  }
  .social-icons {
    width: 24.5rem;
  }

  section#about {
    flex-direction: column;
    justify-content: space-evenly;
  }

  #about-text {
    width: auto;
    margin: 20px;
  }
  .about-container-item {
    justify-content: center;
    height: auto;
    width: 100%;
  }
  #about-container {
    display: inline-block;
  }

  .tech {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-gap: 10px;
    justify-content: center;
    height: 50%;
    width: 50%;
  }

  @keyframes animated-text {
    from {
      width: 0;
    }
    to {
      width: 1000px;
    }
  }
}
